/* Define your CSS styles here */
/* Remember to validate your CSS at https://jigsaw.w3.org/css-validator/ */
#kcontainer {
    background: black;
    margin: 1em;
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    background: #000000;
    display: flex;
    width: 100%;

    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */
}


.flex-container > * {
    background: #989898;
    color: white;
    font-weight: bold;
    text-align: center;
    margin: 0 0 5px 5px;
    font-size: large;
    pointer-events: none;

    /* THE COLUMN COUNT */
    flex: 1 0 auto;

    border-radius: 5px;
}

.flex-container:nth-child(5) {
    /*width: 100px;*/
    /*align-items: center;*/
}

.space {
    width: 10em;
}

.normal-key {
    /*width: 5em;*/
    /*padding: 1px;*/
    /*margin: 1px;*/
}

.special-key {
    border-radius: 5px;
    background: #f2ab26;
}